.es-text-input-wrapper {
  position: relative; }
  .es-text-input-wrapper.es-icon-placeholder-right input.form-control {
    padding-left: 30px; }
  .es-text-input-wrapper.es-icon-placeholder-right .es-icon-placeholder {
    left: 15px; }
  .es-text-input-wrapper.es-icon-placeholder-left input.form-control {
    padding-right: 30px; }
  .es-text-input-wrapper.es-icon-placeholder-left .es-icon-placeholder {
    right: 15px; }
  .es-text-input-wrapper .es-icon-placeholder {
    color: #c2cad8;
    position: absolute;
    z-index: 999;
    top: 0;
    transform: translate(50%, 50%); }

.input-group .es-text-input-wrapper:not(:first-child):not(:last-child) > .form-control {
  border-radius: 0; }

.input-group-lg > .es-text-input-wrapper > .form-control {
  height: 46px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px; }

.input-group-lg > .es-text-input-wrapper.es-icon-placeholder-left input.form-control {
  padding-right: 35px; }

.input-group-lg > .es-text-input-wrapper.es-icon-placeholder-left .es-icon-placeholder {
  right: 10px; }

.input-group-lg > .es-text-input-wrapper > .es-icon-placeholder {
  font-size: large;
  color: #c2cad8;
  position: absolute;
  z-index: 999;
  top: 15px;
  transform: none; }

.input-group-sm > .es-text-input-wrapper > .form-control {
  height: 30px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.input-group-sm > .es-text-input-wrapper.es-icon-placeholder-left input.form-control {
  padding-right: 25px; }

.input-group-sm > .es-text-input-wrapper.es-icon-placeholder-left .es-icon-placeholder {
  right: 6px; }

.input-group-sm > .es-text-input-wrapper > .es-icon-placeholder {
  font-size: small;
  color: #c2cad8;
  position: absolute;
  z-index: 999;
  top: 8px;
  transform: none; }

