.radio {
  direction: ltr;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .radio.radio-disabled, .radio.radio-disabled {
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: not-allowed; }
  .radio > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0); }
  .radio > span {
    border: 1px solid transparent;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #E6E6E6; }
  .radio > span:after {
    content: '';
    position: absolute;
    display: none; }
  .radio > input:checked ~ span,
  .radio > input:checked ~ span {
    webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #d9d9d9; }

.radio:hover > input:not([disabled]) ~ span,
.radio > input:focus ~ span {
  background: #d9d9d9;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.radio > input:checked ~ span:after {
  display: block; }

.radio:hover > input:not([disabled]):checked ~ span,
.radio > input:checked ~ span {
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #d9d9d9; }

.radio > input:disabled ~ span {
  opacity: 0.6;
  filter: alpha(opacity=60);
  pointer-events: none; }

.radio.radio-outline > span, .radio.checkbox-outline > span {
  border: 1px solid #d9d9d9;
  background: none; }

.radio.radio-outline:hover > input:not([disabled]) ~ span,
.radio.radio-outline > input:focus ~ span, .radio.checkbox-outline:hover > input:not([disabled]) ~ span,
.radio.checkbox-outline > input:focus ~ span {
  border: 1px solid #d9d9d9;
  background: none; }

.radio.radio-outline > input:checked ~ span, .radio.checkbox-outline > input:checked ~ span {
  border: 1px solid #d9d9d9;
  background: none; }

.radio.radio-outline:hover > input:not([disabled]):checked ~ span,
.radio.radio-outline > input:checked ~ span, .radio.checkbox-outline:hover > input:not([disabled]):checked ~ span,
.radio.checkbox-outline > input:checked ~ span {
  border: 1px solid #d9d9d9;
  background: none; }

.radio > span {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important; }

.radio > span:after {
  left: 5px;
  top: 5px;
  height: 6px;
  width: 6px;
  border-radius: 100% !important;
  background: #888888; }

.radio > input:disabled ~ span:after {
  background: #888888; }

th > .radio.radio-single,
td > .radio.radio-single {
  right: -5px; }

.radio-list {
  padding: 10px 0; }

.form-horizontal .form-group .radio-list {
  padding-top: 0; }

.checkbox-list .checkbox,
.checkbox-list .radio,
.radio-list .checkbox,
.radio-list .radio {
  display: block; }

.checkbox-inline,
.radio-inline {
  padding: 10px 0; }

.form-horizontal .form-group .radio-inline {
  padding-top: 8px; }

.checkbox-inline .radio,
.radio-inline .radio {
  display: inline-block;
  margin-right: 15px; }

.checkbox-inline .radio:last-child,
.radio-inline .radio:last-child {
  margin-right: 0; }

